<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>無標題文件</title>
<link rel="stylesheet" href="<%= root_url %>/css/reset.css">
<link rel="stylesheet" href="<%= root_url %>/css/colorbox.css">
<link rel="stylesheet" href="<%= root_url %>/css/_lottery.css">
<script src ="<%= root_url %>/js/jquery-1.10.2.min.js"></script>
<script src ="<%= root_url %>/js/auto-full-height.min.js"></script>
<script src ="<%= root_url %>/js/jquery.colorbox-min.js"></script>

  <%= csrf_meta_tags %>

<script>
	window.fbAsyncInit = function() {
        FB.init({
          appId      : '678638088844362',
          //appId     : '1436443593263059',
          status     : true,
          xfbml      : true
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/zh_TW/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
       
</script>

<script>

<% if notice %>
	alert('<%= notice %>');
	<% flash.delete( :notice ) %>
<% end %>

$(function(){	
	var _showTab = 0;
	var $defaultLi = $('#tab li').eq(_showTab).addClass('active');	
	$($defaultLi.find('a').attr('href')).siblings().hide();  
	$('#tab li').click(function() {		
		var $this = $(this),
			_clickTab = $this.find('a').attr('href');		
		$this.addClass('active').siblings('.active').removeClass('active');
		$(_clickTab).stop(false, true).fadeIn(1000).siblings().hide(); 
		return false;
	}).find('a').focus(function(){
		this.blur();
	});
});
</script>
</head>

<body>
<div id="wrapper"> 
<div id="container">
    <div class="main">
      <ul id="tab">
        <li><a href="#content-1" id="tab-1">&nbsp;</a></li>
        <li><a href="#content-2" id="tab-2">&nbsp;</a></li>
        <li><a href="#content-3" id="tab-3">&nbsp;</a></li>
      </ul>
      <div id="content-box">
        <div id="content-1" class="content">

          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="62%" height="555"><img id="share-1-photo" src ="/images/l-07.jpg"/></td>
              <td width="38%" class="text"><img src ="<%= root_url %>/images/l-12.jpg"/>
                <p> 沒有錯，繼續用 XP，等於跟最新應用絕緣，撐下去只能苦命孤軍奮戰。趕快投入 Windows 8.1 新陣營吧！馬上開心享受所有支援、各種觸控裝備。 </p>
                <p id="share-1-message" style="display: none;">
					【Windows XP不支援軟硬體，大NG】

					電腦裝備不夠力，絕對比豬頭隊友還要命！										
					趕快投入全新Windows 8.1陣營，
					讓所有支援、觸控裝備都聽你的。
					
					現在到 http://byexp.tw 分享貼圖，你也可以抽大獎！
				</p>
                <a data-id="1" href="javascript: void(0);" class="inline api-share-link"><img src ="<%= root_url %>/images/l-08.jpg"/></a></td>
            </tr>
          </table>
        </div>
        <div id="content-2" class="content">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="62%" height="555"><img id="share-2-photo" src ="/images/l-06.jpg"/></td>
              <td width="38%" class="text"><img src ="<%= root_url %>/images/l-13.jpg"/>
                <p> 別讓 XP 終止支援後，病毒、駭客和惡意程式有機會整天纏著你！
                  Windows 8.1 內建防毒軟體，全面嚴密防護，開機上網不必緊張兮兮。 </p>
                <p id="share-2-message" style="display: none;">
                	【Windows XP不夠安全，大NG】

					和我一起揮揮手帕跟 XP 說掰掰，
					升級甩掉入侵電腦討厭鬼，
					每一天都有好心情！
					
					現在到 http://byexp.tw 分享貼圖，你也可以抽大獎！
				</p>
                <a data-id="2" href="javascript: void(0);" class="inline api-share-link"><img src ="<%= root_url %>/images/l-08.jpg"/></a></td>
            </tr>
          </table>
        </div>
        <div id="content-3" class="content">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="62%" height="555"><img id="share-3-photo" src ="/images/l-05.jpg"/></td>
              <td width="38%" class="text"><img src ="<%= root_url %>/images/l-11.jpg"/>
                <p> 不會吧，當朋友都已經改用 <br />Windows 8.1 整合社群聊得超開心，只剩你還在痴痴等待沒人理？親愛的別再委屈了，趕快進化升級找回朋友和自信。 </p>
                <p id="share-3-message" style="display: none;">
					【Windows XP不夠進化，大NG】

					噢～你朋友的朋友和朋友們，
					都用 Windows 8.1 社群整合聊開了，
					趕快進化升級，才不會一個人空虛寂寞覺得冷。
					
					現在到 http://byexp.tw 分享貼圖，你也可以抽大獎！
				</p>
                <a data-id="3" href="javascript: void(0);" class="inline api-share-link"><img src ="<%= root_url %>/images/l-08.jpg"/></a></td>
            </tr>
          </table>
        </div>
      </div>
      <!--content-box--> 
    </div>
  </div>
  <!--container-->
  
  

	<div style="display: none;">	
		<div id="form">
		  <%= form_for(@xp_user) do |f| %>
		<p>您的貼圖分享已經完成囉，<a id="fb-photo-link" href="#" target="_blank">馬上到塗鴉牆看看</a><br />
請填寫完整之正確資料，以免錯失中獎機會</p>
	      <table width="100%" border="0" cellspacing="0" cellpadding="0">
	        <tr>
	          <td colspan="2"><div class="column"> <%= f.label :name, '真實姓名' %>
	              <%= f.text_field :name %>
	            </div></td>
	        </tr>
	        <tr>
	          <td colspan="2"><div class="column"> <%= f.label :phone, '聯絡電話' %>
	              <%= f.text_field :phone %>
	            </div></td>
	        </tr>
	        <tr>
	          <td colspan="2"><div class="column"> <%= f.label :email, '電子信箱' %>
	              <%= f.text_field :email %>
	            </div></td>
	        </tr>
	        <tr>
	          <td width="50%" align="center"><input name="" type="reset" class="submit" id="clear"/></td>
	          <td width="50%" align="center"><%= f.submit '', :class => "submit", :id => "send" %></td>
	        </tr>
	      </table>
	    <%= f.hidden_field :fb_user_id %>
	    <%= f.hidden_field :fb_share_id %>
		  <% end %>
	    </div>
	    
	    <div id="progress">
		    <img src="/images/send.gif" />
	    </div>
	    
	</div>
    
    
</div>

<script>

	var hold = false;

	var originalClose = $.colorbox.close;
	$.colorbox.close = function(){
		if (hold) {			
		  if ( confirm( '您的資料還沒寫完喔！您必須填寫完所有資料才能順利參加抽獎，您是否要放棄填寫資料呢？\n(若要繼續參加，請點選取消)' )) {
		  	hold = false;
		    originalClose();
		  } 
		} else {
			originalClose();
		}
	 }
					 
	$('#new_xp_user').submit(function() {
		
		var errors = '';
			var errors = '';
				
			if ( $('input[name="xp_user[name]"]').val().length <= 0 ) {
				errors += "請寫上您的姓名 \n";
			}			
			if ( $('input[name="xp_user[phone]"]').val().length <= 0 ) {
				errors += "請寫上您的電話 \n";
			}
			
			if ( !$('input[name="xp_user[email]"]').val().match(/^[\w\.]+@[a-zA-Z0-9\-\_]+(\.[a-zA-Z]{2,3})+$/) ) {
				errors += "您的信箱填寫有誤";
			}
		
			if (errors) {
				alert( errors );
				return false;
			}
	});

	$('.api-share-link').click(function() {
		var id = $(this).data('id');		
		
		var is_get_user = false;
		var is_get_post = false;
		
		var is_get_user_finished = false;
		var is_get_post_finished = false;
		
		$.colorbox({ href: "#progress", inline: true, closeButton: false, overlayClose: false, onClosed: function() {
			
				if ( is_get_user && is_get_post ) {
					  
					hold = true;
					$.colorbox({ href: "#form", inline: true, width: "579px"});
					//alert("已完成分享，感謝你的參與。");
				}
		}});
		
		FB.login(function() {			
			
			function check_open_form() {
			
				if ( is_get_user_finished && is_get_post_finished ) {
					$.colorbox.close();
				}
				
			}
			
			// upload photo into facebook			
			// FB.api('me/photos',"post",
			// 	{
			// 	url: '<%= root_url %>/images/share_' + id + '.jpg',
			// 	message: $('#share-' + id + '-message').html()
			// 	},
			//     function (response) {
			// 	       is_get_post_finished = true;
				    
			// 	      if (response && !response.error && response.post_id) {
				      
			// 		      is_get_post = true;
			// 		      $('#xp_user_fb_share_id').val( response.id );
			// 		      $('#fb-photo-link').attr( 'href', 'https://www.facebook.com/photo.php?fbid=' + response.id );
					      
					      
				      	
			// 	      } else {
				      	
			// 		      $('#fb-photo-link').hide();
			// 	       //   alert('貼文授權失敗！您必須成功貼文才能擁有抽獎資格喔！');				        
			// 	      }
			// 		      is_get_post = true;
				      
			// 		 check_open_form();
			//     }
			// );
			
			var share_meta = $('#share-' + id + '-message').html().split("\n\n");
			//share to facebook timeline
			FB.api('/me/feed', 'post', 
			{
				message: $('#share-' + id + '-message').html(), 
				description: share_meta[1], 
				picture: '<%= root_url %>/images/share_' + id + '.jpg', 
				link: "http://www.microsoft.com/taiwan/promo/windows/xpto8/lottery.htm", 
				name: share_meta[0], 
				//caption: share_meta[0]
			},
			function (response) {
				is_get_post_finished = true;

				if (response && !response.error && response.post_id) {
					is_get_post = true;
					$('#xp_user_fb_share_id').val( response.id );
					$('#fb-photo-link').attr( 'href', 'https://www.facebook.com/photo.php?fbid=' + response.id );
				} 
				else {
					$('#fb-photo-link').hide();
					//   alert('貼文授權失敗！您必須成功貼文才能擁有抽獎資格喔！');
				}
				is_get_post = true;

				check_open_form();
			});
			
			FB.api('me', function( response ) {
				is_get_user_finished = true;
				
				if ( response && !response.error ) {
				
					is_get_user = true;
				
					$('#xp_user_name').val( response.name );
					$('#xp_user_email').val( response.email );
					$('#xp_user_fb_user_id').val( response.id );
					$('#xp_user_name').val( response.name );			
								
				    
				} else {
					alert('取得資料錯誤！您必須授權提供基本資料才能擁有抽獎資格喔！');
				}
				
				check_open_form();				
			});
			
		}, { scope: "publish_actions, email" });
		
	});
</script>


</body>
</html>




