<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Robots" content="index,follow"/>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Robots" content="index,follow"/>
<meta name="ms.locale" content="zh-tw">
<meta name="WT.sp" content="_taiwan_promo_windows_xpto8_" />
<meta name="WT.z_locale" content="zh-tw"/ >
<meta name="keywords" content="XP,win xp,win 7,win 8,win 8.1,Windows XP,Windows 7,Windows 8,Windows 8.1,XP 終止支援,XP EOS,Windows 作業系統,升級 windows 8,迎春改運歡送 XP,微軟,台灣微軟,Microsoft"/>
<title>歡送 XP 換 Windows 8.1，馬上抽大獎拿好禮</title>
<meta name="description" content="送走 Window XP，告別老舊作業系統不合時宜問題，立刻享受Windows 8.1 全新功能，再抽無線伊萊克斯、變形平板，還有更多優惠好康" />
<meta property="og:site_name" content="XP 除舊換新優惠活動"/>
<meta property="og:title" content="歡送 Windows XP 迎接 Windows 8.1，送舊迎新拿大獎抽好禮"/>
<meta property="og:description" content="送走 Window XP，告別老舊作業系統不合時宜問題，立刻享受 Windows 8.1 全新功能，再抽無線伊萊克斯、變形平板，還有更多優惠好康"/>
<meta property="og:type" content="website"/>
<meta name="DC.Rights" content="台灣微軟"/>
<meta name="DC.Date" content="2014/01/21"/>
<meta name="DC.Language" scheme="W3CDTF" content="zh-TW"/>
<meta name="DC.Subject" content="歡送 XP 換 Windows 8.1，馬上抽大獎拿好禮"/>
<meta name="DC.Type" content="活動"/>
<meta property="og:image" content="http://park.summers.com.tw/toto/xpeos_2/images/thumb.jpg">
<link rel="image_src" href="http://park.summers.com.tw/toto/xpeos_2/images/thumb.jpg">


  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<link rel="image_src" href="http://www.microsoft.com/taiwan/promo/xpeos/images/thumb.jpg">
<link rel="stylesheet" href="<%= root_url %>/css/reset.css">
<link rel="stylesheet" href="<%= root_url %>/css/form.css">
<script src="<%= root_url %>/js/jquery-1.10.2.min.js"></script>
<script src="<%= root_url %>/js/auto-full-height.min.js"></script>

<script type="text/JavaScript">
var varSegmentation=0;
var varClickTracking=1;
var varCustomerTracking=1;
var varAutoFirePV=1;
var Route="59550";
document.write("<script type='text/javascript' src='" +
(window.location.protocol) + "//c.microsoft.com/ms.js'" + "><\/script>");
</script>
<noscript><img alt="" width="1" height="1" src="http://c.microsoft.com/trans_pixel.aspx" /></noscript>

</head>

<body>
<div id="wrapper">
  <div id="article">
  	<%= yield %>
    
  </div>
  <div id="footer"> ©  2014 Microsoft Corporation. 著作權所有，並保留一切權利。<a href="http://www.microsoft.com/taiwan/misc/cpyright.htm" target="_blank">使用規定</a>｜<a href="http://www.microsoft.com/library/toolbar/3.0/trademarks/zh-tw.mspx" target="_blank">商標</a>｜<a href="http://www.microsoft.com/privacystatement/zh-tw/core/default.aspx" target="_blank">隱私權聲明</a> </div>
</div>
</body>
</html>
